.root {
  background: "#FAF3EC";
  width: "auto";
  position: "absolute";
  top: "calc(50% - 240px)";
  left: "calc(40% - 160px)";
}
.formImage {
  box-shadow: "0 0 10px";
  background-color: "white";
  width: "500px";
  height: "500px";
  display: "flex";
  flex-wrap: "wrap";
  // border-radius:'15px 15px 15px 15px',
}

.textField {
  margin-left: theme.spacing(1);
  margin-right: theme.spacing(1);
  width: "25ch";
}
.divForm {
  width: "90%";
}

.image {
  width: "90%";
  height: "35%";
  margin: "8px";
}
.paperRoot {
  max-width: 345;
}
